
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, main, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline; 
}

/* Basic */
body {
    background-color: #1c1d26;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    overflow-y: hidden;
}

body, input, button, select, textarea {
    font-family: 'Roboto', sans-serif;
    color: rgba(255, 255, 255, 0.75);
    font-size: 11.5pt;
    font-weight: 100;
    line-height: 1.75em;
}

a {
    /* border-bottom: dotted 1px; */
    /* color: #e44c65; */
    color:#ebebeb;
    text-decoration: none;
}

a:hover, a:focus {
    color: #e44c65 !important;
    border-bottom-color: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: #ffffff;
    /* font-weight: 300; */
    line-height: 1em;
    margin: 0 0 1em 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    border: 0;
}

h2 {
    font-size: 2em;
    line-height: 1.5em;
    letter-spacing: -0.025em;
}

h3 {
    font-size: 1.35em;
    line-height: 1.5em;
}

h4 {
    font-size: 1.1em;
    line-height: 1.5em;
}

h5 {
    font-size: 0.9em;
    line-height: 1.5em;
}

h6 {
    font-size: 0.7em;
    line-height: 1.5em;
}

/* Button */
button {
    appearance: none;
    border-radius: 4px;
    border: 0;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
    color: #ffffff !important;
    cursor: pointer;
    display: inline-block;
    font-weight: 300;
    height: 3em;
    line-height: 3em;
    padding: 0 2.25em;
    text-align: center;
    white-space: nowrap;
}

button:hover,
button:focus {
    box-shadow: inset 0 0 0 1px #e44c65;
    color: #e44c65 !important;
}
button:focus {
    background-color: rgba(228, 76, 101, 0.15);
}
button.primary {
    background-color: #e44c65;
    box-shadow: none;
    color: #ffffff !important;
}
button.primary:hover {
    background-color: #e76278;
}
button.primary:focus {
    background-color: #e13652;
}

/* Header */
#header {
    background-color: rgba(39, 40, 51, 0.965);
    box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.25);
    cursor: default;
    height: 40px;
    width: 100%;
    z-index: 100;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 18px;
}

#header h1 {
    margin: 0;
}

#header nav ul li {
    display: inline-block;
    margin-left: 1em;
}

#header nav ul li a {
    border: 0;
    color: inherit;
    display: inline-block;
    height: inherit;
    line-height: inherit;
    outline: 0;
}

#header nav ul li a.button {
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
}

#header nav ul li a:not(.button):before {
    margin-right: 0.5em;
}

#header nav ul li.active > a {
    color: #e44c65;
}

#header nav ul li button {
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
}

/* Footer */
#footer {
    background-color: #272833;
    /* padding: 0.1em 0; */
    flex-shrink: 0;
    text-align: center;
    height: 45px;
}


/* Icons */
#footer ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
    line-height: 1em;
}

#footer ul.icons li {
    display: inline-block;
    /* height: 1.5em;
    line-height: 1.5em; */
    padding: 0 0.5em;
}

/* #footer ul.icons li .icon {
    font-size: 0.8em;
} */

#footer ul.icons li .icon > .label {
    display: none;
}

#footer ul.icons li .icon:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    top: 5px;
}

#footer ul.icons li .icon.twitter:hover:before,
#footer ul.icons li .icon.facebook:hover:before,
#footer ul.icons li .icon.linkedin:hover:before,
#footer ul.icons li .icon.instagram:hover:before,
#footer ul.icons li .icon.github:hover:before,
#footer ul.icons li .icon.mail:hover:before{
    border-bottom: 0.1px solid rgba(228,76,101,1); 
}

#footer ul.icons li .icon.twitter:before {
    background-image: url('images/twitter.png');
}

#footer ul.icons li .icon.facebook:before {
    background-image: url('images/facebook.png');
}

#footer ul.icons li .icon.linkedin:before {
    background-image: url('images/linkedin.png');
}

#footer ul.icons li .icon.instagram:before {
    background-image: url('images/instagram.png');
}

#footer ul.icons li .icon.github:before {
    background-image: url('images/github.png');
}

#footer ul.icons li .icon.mail:before {
    background-image: url('images/mail.png');
}

#footer .copyright {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8em;
    /* line-height: 1em; */
    /* margin: 2em 0 0 0; */
    padding: 0;
    text-align: center;
    height: 2em;
}

#footer .copyright li {
    border-left: solid 1px rgba(255, 255, 255, 0.3);
    display: inline-block;
    list-style: none;
    margin-left: 1.5em;
    padding-left: 1.5em;
}

#footer .copyright li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
}

#footer .copyright li a {
    color: inherit;
}

#main {
    flex-grow: 1;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#welcome{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    animation: fadeIn 2s ease-in-out;
    height: calc(100vh - 85px); 
    position: relative;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

#introduction{
    height: calc(100vh - 85px);
}

#welcome header {
    text-align: right;
}

#welcome header h2 {
    font-size: 1.8em;
    margin: 0;
}

#welcome header h2 + p {
    font-size: 1.25em;
    margin-top: 2em;
    line-height: 1.75em;
}

#welcome div.image img{
    width: 276px;
    border-radius: 100%;
}

#introduction div.image{
    display: flex;
    justify-content: center;
}

#introduction div.image img{
    /* width: 60%; */
    height: 16em;
    border-radius: 50%;
    justify-content: flex-end;
    position: relative;
    right: 9em;
}

#introduction div.image section{
    margin-top: 1em;
}

#introduction div.image section h4{
    font-weight: bolder;
}

#numbers_grid_container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 60%;
}

#numbers_grid_container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1em;
}

#numbers_grid_container > div :first-child{
    font-weight: 600;
}

#numbers_grid_container > div :last-child{
    font-weight: 600;
    font-size: 0.8em;
}

#numbers_grid_container div:nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

#numbers_grid_container div:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

#numbers_grid_container div:nth-child(3) {
    grid-area: 2 / 1 / 3 / 2;
}

#numbers_grid_container div:nth-child(4) {
    grid-area: 2 / 2 / 3 / 3;
}

#numbers_grid_container hr{
    width: 70%;
    height: 1px;
    background-color: #ccc;
    border: none;
    margin: 0;
    padding: 0;
}

#introduction div.content{
    padding: 1em;
}

#introduction div.content h3{
    margin: 0;
    text-align: center;
}

#introduction div.content article{
    margin-top: 1em;
}

#introduction div.content h4{
    margin: 0;
}

#introduction div.content p{
    font-size: 0.9em;
    font-style: italic;
    text-indent: 1em;
}
  

#products{
    display: flex;
    justify-content: space-around;
    height: 100%;
}

#products aside{
    flex:1;
    position: relative;
}

#products aside ul{
    position: absolute;
    top: 1em;
    left: 1.25em;
    list-style: none;
}

#products aside ul li{
    padding: 1.5em 0;
    border-bottom: 1px solid #cccccc;
}

#products aside ul li header{
    font-weight: bold;
}

#products aside ul li a{
    font-style: italic;
    font-size: 0.8em;
}

#products aside ul li a:hover{
    font-style: normal;
    color: red;
}

#products section{
    flex:2;
    animation: fadeIn 2s ease-in-out;
}

#products section div{
    display: flex;
    justify-content: center;
}

#products section div img{
    margin: 3em;
    height: 18em;
    border: solid 4px #ebebeb !important;
    border-radius: 2%;
}

#products section h5{
    text-align: center;
}

#products section p{
    padding: 0 4em;
    font-size: 0.8em;
    font-style: italic;
}

#contact{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* padding: 2em 0; */
}

#contact header{
    text-align: center;
    /* padding: 2em 0; */
}

#contact header h2{
    margin: 0;
    font-weight: 500;
}

#contact form{
    width: 80%;
    margin: 0 auto;
}

#contact form fieldset:last-child{
    text-align: center;
}

#contact form button{
    height: 2em;
    line-height: 2em;
    padding: 0 1.25em;
    margin: 1.5em 4em 0;
    width: 8em;
}

#contact form legend{
    font-weight: 600;
}

#contact .formfield{
    display: flex;
    padding: 0.5em 0;
    font-size: 0.9em !important;
    /* flex-wrap: wrap; */
}

#contact .formfield input, textarea {
    font-family: 'Roboto', sans-serif;
    color: rgba(0, 0, 0, 0.95);
    font-size: 1em;
    /* width: 100%; */
}

#contact .formfield input:focus, textarea:focus {
    background-color: beige;
    color: blueviolet;
    font-weight: bold;
}

#contact .contactinfo{
    width: 130px;
	display: inline-block;
	text-align: right;
}

#contact .contactinfo_error
{
	color: red;
	font-style: italic;
	font-weight: bold;
	display: none;
    padding-left: 8em;
}

.goto-next {
    border: 0;
    bottom: 0;
    display: block;
    height: 5em;
    left: 50%;
    margin: 0 0 0 -5em;
    overflow: hidden;
    position: absolute;
    text-indent: 10em;
    white-space: nowrap;
    width: 10em;
    z-index: 1;
}

.goto-next:before {
    background-image: url("images/arrow.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 1.5em;
    left: 50%;
    margin: -0.75em 0 0 -1em;
    position: absolute;
    top: 50%;
    width: 2em;
    z-index: 1;
}

.goto-next:hover:before,.goto-next:focus:before{
    filter: invert(45%) sepia(86%) saturate(3628%) hue-rotate(307deg) brightness(102%) contrast(102%);
    border-bottom-color: transparent;
}

@media (min-width: 737px) {
    #header #hamburger{
        display: none !important;
    }

    #header nav ul li:not(:first-child){
        display: inline-block !important;
    }
}

@media (max-width: 736px) {

    /* Basic */
        html, body {
            overflow-x: hidden;
        }

        body, input, select, textarea {
            font-size: 12pt !important;
        }

        h2 {
            font-size: 1.5em !important;
        }

        h3 {
            font-size: 1.2em !important;
        }

        h4 {
            font-size: 1em !important;
        }

        p {
            font-size: 0.8em !important;
        }

        #header{
            display: flex;
            flex-direction: row-reverse;
            height: 3.5em;
        }

        #header h1 {
            height: inherit;
            line-height: inherit;
            margin: 0 auto;
            position:static;
        }

        #header nav {
            position: absolute;
            left: 1em;
            top: 0;
        }

        #header nav ul{
            width: 8em;
            background-color: rgba(39, 40, 51, 0.965);
        }

        #header nav ul li {
            display: block;
            margin:0;
        }

        #header #hamburger{
            height: 3.5em;
            display: flex;
            align-items: center;
        }

        #header #hamburgerMenu{
            background-color: #e44c65;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            height: 80%;
            width: 3em;
        }

        #header #hamburgerMenu div {
            width: 21px;
            height: 2px;
            background-color: rgba(255, 255, 255, 0.5);
            margin: 3px 0;
            transition: 0.4s;
          }

        #header nav ul li:not(:first-child){
            display: none;
        }

        #welcome{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: calc(100vh - 6em);
        }

        .goto-next {
            bottom: 8em;
        }

        #welcome header {
            text-align: center;
        }

        #welcome header h2 + p {
            font-size: 1em;
            margin-top: 0;
            line-height: 1.75em;
            margin-bottom: 1em;
        }

        #welcome div.image img{
            width: 16em;
        }

        #introduction div.image img{
            height: 12em;
            right: 0;
        }

        #introduction div.image section{
            display: none;
        }

        #products aside{
            flex:2;
        }

        #products section{
            flex:3;
        }

        #products section div img{
            height: 15em;
            margin: 2em;
        }

        #contact header{
            padding: 1em 0;
        }

        #contact form button{
            height: 2em;
            line-height: 2em;
            padding: 0 1.25em;
            margin: 0.5em 1em 0;
            width: 6em;
        }
}

@media screen and (max-width: 480px) {
    #productList{
        display: none;
    }
}